/Add_Input.class
/Add_Input2.class
/AreaTest.class
/BooleanTest.class
/Box.class
/CalTime.class
/CharBoolDemo.class
/CharEx.class
/CircleArea.class
/Constant.class
/DiamondStar.class
/DiamondStar2.class
/DoubleTest.class
/Ex01_var.class
/Ex02_String.class
/Ex03_input.class
/HelloExam.class
/Light.class
/NameUnicode.class
/NumberTypeDemo.class
/OddEven.class
/PrintfDemo.class
/RealTypeEx.class
/RectangleTest.class
/ScannerDemo.class
/ScannerDemo2.class
/StringTest.class
/TypeMismatch.class
/VarInitTest.class
/VarScope.class
/VarScope2.class
